@using Microsoft.AspNetCore.Http
@model IEnumerable<Ass3.Library.Member>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h2>Login</h2>  

<form method = "post" asp-controller = "Login" asp-action = "btnLogin">    
      <div> 
         <h3>Email</h3>
         <input type="text" name="txtEmail"/><br/>
      </div> 
      
      <div> 
         <h3>Password</h3>
         <input type="text" name="txtPassword"/><br/>
      </div>
      
      <span class="text-danger" style="color:red">@TempData["ErrorMessage"]</span>  
     
      <div> 
         <button type="submit">Login</button>
      </div> 
</form>        